version: "3.7"
services:
    gochain-iconee:
        container_name: gochain-iconee
        image: public.ecr.aws/f5d2t1f5/goloop-gochain-icon:latest
        env_file:
            - ./gochain-local/data/single/iconee.env
        volumes:
            - ./gochain-local/data/single:/testsuite/data
            - ./gochain-local/data/governance:/goloop/data/gov
            - ./gochain-local/chain:/testsuite/chain
        ports:
            - "9082:9082"